.App {
  text-align: center;
  max-width: 40rem;
  margin: auto;
}

input,
select {
  display: block;
  margin: auto;
}

.error {
  color: red;
}

ul {
  list-style: none;
}

main.App {
  margin-top: 4rem;
}

a {
  text-decoration: none;
  cursor: default;
}
